*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.plg
*.Peter
*.tbabaran
*.Tyler
*.kelly
*.swo
*.swp
documentation/*.log
documentation/*.loa
documentation/*.lof
documentation/*.out
documentation/*.toc
documentation/*.aux
*.ke2mcbri
*.uvopt
